.clock {
  display: block;
  vertical-align: middle;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 300px;
  border-radius: 5px;
  margin: 10px;
  font-size: 60px;
  font-weight: 300;
}
