<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>sample cards</title>
  <link rel="stylesheet" href="layout.css">
  <link rel="stylesheet" href="question.css">
  <link rel="stylesheet" href="answer.css">
  <link rel="stylesheet" href="select.css">
</head>
<body>
<div class="container">
  <section class="question clock">
    <span>00</span>
    <span>:</span>
    <span>00</span>
  </section>
  <section class="question">

    <label class="answer answer--checkbox" data-correct="true">
      <!-- add data-correct="true"attribute if answer is correct -->
      Some wery long long long long long long long long long question
      <input type="checkbox" checked="checked"/>
      <div class="answer__indicator"></div>
    </label>

    <label class="answer answer--checkbox">Disabled answer
      <input type="checkbox"/>
      <div class="answer__indicator"></div>
    </label>
    <label class="answer answer--checkbox">Disabled & checked answer
      <input type="checkbox"/>
      <div class="answer__indicator"></div>
    </label>
  </section>

  <section class="question">
    <h1 class="question__title">Choose one option</h1>
    <p class="question__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea expedita magnam libero ut autem aperiam velit minus nobis recusandae modi adipisci, voluptatem minima error deleniti ratione asperiores illum molestiae quaerat.</p>
    <label class="answer answer--radio">First radio
      <input type="radio" name="radio" checked="checked"/>
      <div class="answer__indicator"></div>
    </label>
    <label class="answer answer--radio" data-correct="false">
      <!-- add data-correct="false" attribute if answer is wrong -->
      Second radio
      <input type="radio" name="radio"/>
      <div class="answer__indicator"></div>
    </label>
    <label class="answer answer--radio">Disabled
      <input type="radio" name="radio2"/>
      <div class="answer__indicator"></div>
    </label>
    <label class="answer answer--radio">Disabled & checked
      <input type="radio" name="radio2"/>
      <div class="answer__indicator"></div>
    </label>
  </section>

</body>
</html>